<a href="https://colab.research.google.com/github/maham-kayani/coursera-crash-course-on-python-google/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number = 2 # Initialize the variable
while number <= 12: # Complete the while loop condition
    print(number, end=" ")
    number +=2 # Increment the variable

# Should print 2 4 6 8 10 12

2 4 6 8 10 12

In [ ]:
for number in range(2,12+1,2):
    print(number)

# Should print:
# 2
# 4
# 6
# 8
# 10
# 12

2
4
6
8
10
12

In [ ]:
def factorial(n):
    result = n

    n -= 1
    while n>0: # The while loop should execute as long as n is greater than 0
        result *= n # Multiply the current result by the current value of n
        n -=1 # Decrement the appropriate variable by -1
    return result


print(factorial(3)) # Should print 6
print(factorial(9)) # Should print 362880
print(factorial(1)) # Should print 1

6
362880
1

In [ ]:
def multiplication_table(start, stop):
    # Complete the outer loop range
    for x in range(start, stop +1 ):
         # Complete the inner loop range
        for y in range(1, 4):
            # Prints the value of "x" multiplied by "y"
            # and inserts a space after each value
            print(str(x*y), end=" ")
        # An empty print() function inserts a line break at the
        # end of the row
        print()


multiplication_table(1, 3)
# Should print the multiplication table shown above

1 2 3
2 4 6
3 6 9

In [ ]:
def odd_numbers(maximum):

    return_string = "" # Initializes variable as a string

    # Complete the for loop with a range that includes all
    # odd numbers up to and including the "maximum" value.
    for x in range(1, maximum + 1, 2):
        return_string +=str(x) + " "
        # Complete the body of the loop by appending the odd number
        # followed by a space to the "return_string" variable.
        ___

    # This .strip command will remove the final " " space
    # at the end of the "return_string".
    return return_string.strip()


print(odd_numbers(6))  # Should be 1 3 5
print(odd_numbers(10)) # Should be 1 3 5 7 9
print(odd_numbers(1))  # Should be 1
print(odd_numbers(3))  # Should be 1 3
print(odd_numbers(0))  # No numbers displayed

1 3 5
1 3 5 7 9
1
1 3

In [ ]:
def decade_counter():
    while year < 50:
        year += 10
    return year
# wrong operator

In [ ]:
for x in range(10):
    for y in range(x):
        print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8